body {
    font-family: Arial;
    padding: 20px;
    background: #0d0101bf;
    color: rgb(6, 191, 31);
}

h1 {
    text-align: center;
}

.search-container {
    text-align: center;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    width: 250px;
    border-radius: 8px;
    border: none;
}

button {
    padding: 10px 15px;
    border: none;
    background: #ff9800;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
}

.movie-card {
    background: #1e1e1e;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

.movie-card img {
    width: 150px;
    height: 220px;
}

.movie-card button {
    margin-top: 10px;
    padding: 5px 10px;
    background: #024e27;
    border-radius: 8px;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.933);
}

.modal-content {
    background: #1e1e1e;
    margin: 10% auto;
    padding: 20px;
    width: 50%;
    border-radius: 10px;
    color: rgb(124, 11, 11);
}

.close {
    float: right;
    font-size: 28px;
    cursor: pointer;
}
